- publicish_project_count = ProjectsFinder.new.execute(current_user).count
.blank-state.blank-state-welcome
  %h2.blank-state-welcome-title
    欢迎使用 GitLab!
  %p.blank-state-text
    代码、测试和部署一体化！

- if current_user.can_create_group?
  .blank-state
    .blank-state-icon
      = custom_icon("group", size: 50)
    %h3.blank-state-title
      可以为多个相关项目创建一个组。
    %p.blank-state-text
      组织管理项目成员的最好方式。
    = link_to new_group_path, class: "btn btn-new" do
      新建组

.blank-state
  .blank-state-icon
    = custom_icon("project", size: 50)
  %h3.blank-state-title
    你现在无法访问任何项目。
  %p.blank-state-text
    - if current_user.can_create_project?
      你最多可以创建
      %strong= number_with_delimiter(current_user.projects_limit)
      = succeed "." do
        = "project".pluralize(current_user.projects_limit)
    - else
      如果您添加到一个项目，它将显示在这里。
  - if current_user.can_create_project?
    = link_to new_project_path, class: "btn btn-new" do
      新建项目

- if publicish_project_count > 0
  .blank-state
    .blank-state-icon
      = icon("globe")
    %h3.blank-state-title
      There are
      = number_with_delimiter(publicish_project_count)
      public projects on this server.
    %p.blank-state-text
      Public projects are an easy way to allow everyone to have read-only access.
    = link_to trending_explore_projects_path, class: "btn btn-new" do
      Browse projects
