.top-area
  %ul.nav-links
    = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
      = link_to dashboard_snippets_path, title: '我的代码段', data: {placement: 'right'} do
        我的代码段
    = nav_link(page: explore_snippets_path) do
      = link_to explore_snippets_path, title: '浏览代码段', data: {placement: 'right'} do
        浏览代码段

  - if current_user
    .nav-controls.hidden-xs
      = link_to new_snippet_path, class: "btn btn-new", title: "新建代码段" do
        新建代码段
